body {
    background-color: rgb(255, 255, 255);
    font-style: italic;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

/* header */

h1.title {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 25px;
}

header {
    background: rgb(76, 250, 7);
    padding: 20px 50px;
    text-align: center;
    background-image:url(./images/parrot-image-test.jpg);
    background-size: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

hr {
    height: 3px;
    background-color: rgb(12, 12, 12);
}


header .logo a {
    display: inline-block;
    width: 60px;    
    height: 60px;
    background-image: url(
        "./images/logo.png"
    );
    background-size: 60px;
    background-repeat: no-repeat;
    text-indent: -10000px;
    top:5px;
    position: relative;
    }

    @media screen and (min-width:800px) {
       header {
           height: 200px;
           background-position-y: -180px;

       }

        
    }  
h3 {
    text-align: center;
}
/* main section */


.main {
    background: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    padding: 20px;
}    


.sectionImg {
    width: 400px;
    height: 380px;
    float: right;
     border-radius: 30px;
}

.centeredImg {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
    height: 380px;
    border-radius: 30px;
}

h2 {
    text-align: center;
}
.stuffS {
    height: 1000px;
    text-align: left
}

p.stuffS {
    text-align: left;

}

.third {
    background: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    padding: 20px;
    height: 550px;
   
}
@media screen and (max-width: 800px) {
    .third {
        height: 650px;
        }
}

.ListC {
    font-size: 25px;
}


.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.mid {
    background: rgb(22, 22, 22);
    color: white;
    height: 40px;
}

a.footerL:visited {
    color: rgb(60, 255, 0);
  }

footer {
    background: black;
    padding: 10px 20px;
    color: blanchedalmond;
    margin: auto;
}
.features figure {
   
    color: black;
    margin: auto;
    width: 200px;
    text-align: center;
 

}
.features figure img {
    width: 200px;
    border-radius: 50%;
    box-shadow: red 0 0 10px;
    
    
}
ul.links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li.link {
    display: inline-block;
    margin-right: 20px;
    border-radius: 4px;
    background: rgb(218, 214, 214);
    padding: 5px;
    vertical-align:middle;
}
li:first-child {
    border-radius: 50%;
}
a 
{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link .footerL {
       color: white;
}

li.info {
    list-style-type: disc;
    margin-right: 0;
    border-radius: 0;
    background: none;
}


